@import '~bulma/bulma';
html {
    height: 100%;
    body {
        height: 100%;
        #app {
            background-color: #f8f8f8;
            height: 100%;
            .products-container {
                padding-top: 30px;
            }
            .component-fade-enter-active,
            .component-fade-leave-active {
                transition: opacity .2s ease;
            }
            .component-fade-enter,
            .component-fade-leave-to {
                opacity: 0;
            }
        }
    }
}

.box {
    transition: box-shadow 150ms linear;
    text-align: center;
    border: 3px solid #fff;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .28);
}